@tailwind base;

@layer base {
	/* signika-300 - latin */
	@font-face {
		font-family: 'Signika';
		font-style: normal;
		font-weight: 300;
		src: url('../fonts/signika-v20-latin-300.eot');
		/* IE9 Compat Modes */
		src: local(''),
			url('../fonts/signika-v20-latin-300.eot?#iefix') format('embedded-opentype'),
			/* IE6-IE8 */
			url('../fonts/signika-v20-latin-300.woff2') format('woff2'),
			/* Super Modern Browsers */
			url('../fonts/signika-v20-latin-300.woff') format('woff'),
			/* Modern Browsers */
			url('../fonts/signika-v20-latin-300.ttf') format('truetype'),
			/* Safari, Android, iOS */
			url('../fonts/signika-v20-latin-300.svg#Signika') format('svg');
		/* Legacy iOS */
	}

	/* signika-regular - latin */
	@font-face {
		font-family: 'Signika';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/signika-v20-latin-regular.eot');
		/* IE9 Compat Modes */
		src: local(''),
			url('../fonts/signika-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
			/* IE6-IE8 */
			url('../fonts/signika-v20-latin-regular.woff2') format('woff2'),
			/* Super Modern Browsers */
			url('../fonts/signika-v20-latin-regular.woff') format('woff'),
			/* Modern Browsers */
			url('../fonts/signika-v20-latin-regular.ttf') format('truetype'),
			/* Safari, Android, iOS */
			url('../fonts/signika-v20-latin-regular.svg#Signika') format('svg');
		/* Legacy iOS */
	}

	/* signika-500 - latin */
	@font-face {
		font-family: 'Signika';
		font-style: normal;
		font-weight: 500;
		src: url('../fonts/signika-v20-latin-500.eot');
		/* IE9 Compat Modes */
		src: local(''),
			url('../fonts/signika-v20-latin-500.eot?#iefix') format('embedded-opentype'),
			/* IE6-IE8 */
			url('../fonts/signika-v20-latin-500.woff2') format('woff2'),
			/* Super Modern Browsers */
			url('../fonts/signika-v20-latin-500.woff') format('woff'),
			/* Modern Browsers */
			url('../fonts/signika-v20-latin-500.ttf') format('truetype'),
			/* Safari, Android, iOS */
			url('../fonts/signika-v20-latin-500.svg#Signika') format('svg');
		/* Legacy iOS */
	}

	/* signika-600 - latin */
	@font-face {
		font-family: 'Signika';
		font-style: normal;
		font-weight: 600;
		src: url('../fonts/signika-v20-latin-600.eot');
		/* IE9 Compat Modes */
		src: local(''),
			url('../fonts/signika-v20-latin-600.eot?#iefix') format('embedded-opentype'),
			/* IE6-IE8 */
			url('../fonts/signika-v20-latin-600.woff2') format('woff2'),
			/* Super Modern Browsers */
			url('../fonts/signika-v20-latin-600.woff') format('woff'),
			/* Modern Browsers */
			url('../fonts/signika-v20-latin-600.ttf') format('truetype'),
			/* Safari, Android, iOS */
			url('../fonts/signika-v20-latin-600.svg#Signika') format('svg');
		/* Legacy iOS */
	}

	html {
		@apply scroll-smooth -scroll-mt-6;
	}

	body {
		@apply p-4 sm:p-8 md:p-10;
		@apply bg-stone-100 dark:bg-zinc-900;
		background-image: url(assets/noise.png);
		line-height: 1.75;
		letter-spacing: -0.025;
		font-weight: 400;
		@apply text-slate-900 dark:text-slate-300;
	}

	main, nav {
		@apply max-w-5xl mx-auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-serif;
		line-height: 1.3;
		margin: 3rem 0 1.38rem;
		@apply scroll-mt-6 sm:scroll-mt-[1.75rem];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 a {
		@apply decoration-2 ;
	}

	h1 {
		@apply mt-0 text-4xl;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	a {
		@apply text-indigo-700 dark:text-indigo-500 hover:underline underline-offset-4;
		@apply hover:bg-gradient-to-tl hover:from-orange-100 hover:via-purple-100 hover:to-indigo-100;
		@apply hover:dark:from-orange-900/20 hover:dark:via-purple-900/20 hover:dark:to-indigo-800/60
	}

	p, ul, ol {
		@apply mb-2
	}

	ul > li {
		@apply table-row;
	}

	ul > li:before {
		content: "+";
		@apply table-cell pr-3 text-slate-900/80 dark:text-slate-300/80 text-base font-serif leading-7 relative -top-[0.14rem];
	}

	ol {
		@apply table;
		counter-reset: item;
	}

	ol > li {
		@apply pl-3 table-row;
	}
	
	ol > li:before {
		content: counters(item, ".") " ";
		counter-increment: item;
		@apply table-cell pr-3 text-slate-900/80 dark:text-slate-300/80 text-base font-serif leading-7;
	}

	nav {
		@apply w-full
	}
}

@tailwind components;

@layer components {
	.btn {
		@apply bg-indigo-100/20 dark:bg-indigo-900/30;
		@apply hover:bg-gradient-to-bl hover:from-orange-100 hover:via-purple-100 hover:to-indigo-100;
		@apply hover:dark:from-orange-900/20 hover:dark:via-purple-900/20 hover:dark:to-indigo-800/60;
	}

	.title {
		@apply mb-0
	}

	.info {
		@apply inline-block
	}

	.content-grid {
		@apply md:grid gap-6 grid-cols-6;
	}

	.content-card {
		@apply border border-solid border-indigo-600 rounded mb-6 md:mb-0 relative z-20 flex flex-col justify-between;
		@apply bg-indigo-200/20 dark:bg-indigo-900/30;
	}

	.content-text > h2:first-of-type, .content-text > #toc > h2:first-of-type {
		@apply mt-0
	}

	.content-text {
		@apply p-4 pb-6 md:p-6 md:pb-8 lg:p-10 lg:pb-12
	}

	.content-meta {
		@apply w-full flex justify-end -z-10 relative rounded-b border-t border-solid border-indigo-600 mt-1 right-0 bottom-0 text-indigo-700/80 dark:text-indigo-200 font-serif text-sm;
		@apply bg-gradient-to-bl from-orange-50 via-amber-50 to-orange-50;
		@apply dark:bg-none dark:bg-indigo-900/10;
	}

	.content-meta-field {
		@apply border-indigo-700 p-2 border-l text-slate-900/80 dark:text-slate-300/80
	}

	.profile {
		@apply rounded-full w-1/5
	}
}

@tailwind utilities;