@tailwind base;

@layer base {
	@font-face {
		font-family: Prociono;
		font-weight: 400;
		src: url(assets/fonts/Prociono-Regular-webfont.woff) format("woff");
	}

	@font-face {
		font-family: Goudy Bookletter;
		font-weight: 400;
		src: url(assets/fonts/goudy_bookletter_1911-webfont.woff) format("woff");
	}

	@font-face {
		font-family: GoudyStM;
		font-weight: 400;
		src: url(assets/fonts/GoudyStM-webfont.woff) format("woff");
	}

	/* inter-regular - latin */
	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/inter-v12-latin-regular.eot');
		/* IE9 Compat Modes */
		src: local(''),
			url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
			/* IE6-IE8 */
			url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
			/* Super Modern Browsers */
			url('../fonts/inter-v12-latin-regular.woff') format('woff'),
			/* Modern Browsers */
			url('../fonts/inter-v12-latin-regular.ttf') format('truetype'),
			/* Safari, Android, iOS */
			url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg');
		/* Legacy iOS */
	}

	/* port-lligat-slab-regular - latin */
	@font-face {
		font-family: 'Port Lligat Slab';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/port-lligat-slab-v21-latin-regular.eot');
		/* IE9 Compat Modes */
		src: local(''),
			url('../fonts/port-lligat-slab-v21-latin-regular.eot?#iefix') format('embedded-opentype'),
			/* IE6-IE8 */
			url('../fonts/port-lligat-slab-v21-latin-regular.woff2') format('woff2'),
			/* Super Modern Browsers */
			url('../fonts/port-lligat-slab-v21-latin-regular.woff') format('woff'),
			/* Modern Browsers */
			url('../fonts/port-lligat-slab-v21-latin-regular.ttf') format('truetype'),
			/* Safari, Android, iOS */
			url('../fonts/port-lligat-slab-v21-latin-regular.svg#PortLligatSlab') format('svg');
		/* Legacy iOS */
	}

	/* geo-regular - latin */
	@font-face {
		font-family: 'Geo';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/geo-v19-latin-regular.eot');
		/* IE9 Compat Modes */
		src: local(''),
			url('../fonts/geo-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
			/* IE6-IE8 */
			url('../fonts/geo-v19-latin-regular.woff2') format('woff2'),
			/* Super Modern Browsers */
			url('../fonts/geo-v19-latin-regular.woff') format('woff'),
			/* Modern Browsers */
			url('../fonts/geo-v19-latin-regular.ttf') format('truetype'),
			/* Safari, Android, iOS */
			url('../fonts/geo-v19-latin-regular.svg#Geo') format('svg');
		/* Legacy iOS */
	}

	body {
		@apply m-12;
		background-image: url(assets/noise.png);
		@apply bg-stone-100;
		line-height: 1.75;
	}

	.prose {
		@apply max-w-5xl mx-auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-serif;
		line-height: 1.3;
		margin: 3rem 0 1.38rem;
	}

	h1 {
		@apply mt-0 text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	a {
		@apply text-indigo-700 hover:underline hover:decoration-dotted;
		@apply underline-offset-8
	}

	ul,
	li {
		list-style-type: '+';
		padding-inline-start: 1.3ch;
	}

	.title {
		@apply mb-0
	}

	.author {
		@apply text-indigo-700;
		@apply -mt-6 block text-sm;
		margin-bottom: 1.38rem;
	}

	.info {
		@apply inline-block
	}

	.content-grid {
		@apply md:grid gap-6 grid-cols-2;
	}

	.content-item {
		@apply border border-solid border-indigo-600 px-3 pt-3 pb-14 rounded bg-indigo-200/20 mb-6 md:mb-0 relative;
	}

	.content-item h2 {
		@apply mt-0
	}

	.date {
		@apply absolute border-t border-l border-solid rounded-tl border-indigo-600 px-2 py-2 mt-1 right-0 bottom-0 text-indigo-700/80 font-serif text-sm bg-orange-50
	}

	.profile {
		@apply rounded-full w-1/5
	}
}

@tailwind components;

@tailwind utilities;